@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
body {
    font-family: Georgia, serif;
    font-size: 30px;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #BBBBBB;
}

#header, #header h1{
    text-align:center;
    font-family: 'Leckerli One', cursive;
    font-size:1.7em;
    color: #555555;
    margin:0;
    margin-bottom:-20px;
    padding:0;
}


.entries p:last-child {
    display:none;
}

#entry_form p[class^="deadline"], .entries p{
    height: 90px;
    background-color: white;
    border-bottom: 2px solid #e7e7e7;
    padding:5px;
}

#entry_form {
    height:0;
}

#entry_form p[class^="deadline"]{
    margin:0;
    height:0;
}
.content {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    color: #999999;
    text-align:center;
}

span {
    font-size:1.3em;
    color: #333333;
}
#entry_form .delete, .delete {
    font-size: 0.7em;
    font-family:sans-serif;
    color: #BBBBBB;
    vertical-align: bottom;
    text-align:right;
    position: absolute;
    bottom:0;
    right:5px;
}

#entry_form p[class^="deadline"], p[class^="deadline"]{
    position:relative;
}

input{
    border: none;
    font-size:1.2em;
    color:#666666;
    -moz-box-shadow:    inset 0 -2px 10px #000000;
    -webkit-box-shadow: inset 0 -2px 10px #000000;
    box-shadow:         inset 0 -2px 9px -3px #dddddd;
    outline:none;
}

input:first-child {
    margin-left:10px;
}

#entry_form fieldset{
    border:none;
    font-size:0.4em;
    font-family: sans-serif;
    color:#888888;
    white-space:nowrap;
}

fieldset{
    border:none;
}
